<div id="feedback-form">
<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe"
style="display:none;" onload="if(submitted)
{window.location='/feedback-response';}"></iframe>
<form action="https://docs.google.com/forms/d/1KE6aKvpvI7iCrOmchB3ClZz1WUAjI8N4Tmb10jRGXVc/formResponse" method="post"
target="hidden_iframe" onsubmit="submitted=true;">
<ol style="padding-left: 0">
<div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1215192086"><div class="ss-q-title">What is your name?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1215192086" value="" class="ss-q-short" id="entry_1215192086" dir="auto" aria-required="true" required="" title="" pattern="([a-zA-Z ]+)" size="30">
<div class="error-message"></div>
</div></div></div> 

<div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_973338256"><div class="ss-q-title">What is your email?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="email" name="entry.973338256" value="" class="ss-q-short" id="entry_973338256" dir="auto" aria-required="true" required="" title="" size="40">
<div class="error-message"></div>
</div></div></div> 

<div class="ss-form-question errorbox-good">
<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1800531055"><div class="ss-q-title">Leave your feedback below
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.1800531055" rows="8" cols="50" class="ss-q-long" id="entry_1800531055" dir="auto" aria-required="true" required=""></textarea>
<div class="error-message"></div>
</div></div></div>

<input type="hidden" name="draftResponse" value="[]
">
<input type="hidden" name="pageHistory" value="0">
<div class="ss-form-submit">
<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Submit" id="ss-submit"></td>
</tr></tbody></table></div></div></ol></form></div>