<div id="header">
	<div id="main-title"><a href="/">Elections</a></div>
	<div id="tagline">A PROJECT OF <a href="http://left.mn/" target="_blank"><span style="font-weight:bold;">LEFT</span>MN</a></div>
	<div id="menu-bar">
	    <a class="menu-item" href="/general">GENERAL</a> 
	    <a class="menu-item" href="/primary">PRIMARY</a>
	    <a class="menu-item" href="/maps">MAPS</a>
	    <a class="menu-item" href="/graph">GRAPH</a>
	    <a class="menu-item" href="/history">HISTORY</a> 
	</div>
</div>
